.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color:blueviolet;
    margin:0;
    font-size: 40px;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.nav li{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}
.nav li a{
    text-decoration: none;
    color:blueviolet;
}
.nav .nav-search {
    margin-top: 5px;
    flex:1;
    display:flex;
    margin-left:5%;
    padding-top: 5%px;
}
.nav .nav-search input {
    flex :1;
    color:blueviolet;
    border: 1px solid blueviolet;
    height : 34px;
    border-right:0px
}
.nav .nav-search button { 
    margin-right: 16px;
    color:blueviolet;
    border: 1px solid blueviolet;
    height : 38px;
    border-left:0px
}
h1 a{
    color:blueviolet;
    text-decoration: none;
}
.seller-logout{
    cursor:pointer;
}